html {
    font-size: 1.5vw;
}


body {
    background-color:rgba(1, 48, 70, 0.726);
    margin: 0;
}


.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    background-color:rgb(37, 37, 37);
    align-items: center;
    justify-content: left;
}

#name {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: auto;
    padding-right: 30px;

}

.socialicons {
    width: 32px;
    flex: 10%;
    padding: 10px;
    filter: invert();
    transition: all 0.2s ease;

}

#github {
    display: flex;
    align-items: center;
}

.socials:link {
    color: white;
}

.socials:hover .socialicons {
    color: white;
    width: 38px;
    padding: 7px;
}

#github:visited {
    color: white;
}


.dropdowntext {

    transition:  0.5s ease;
    opacity: 0;
    position: absolute;
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 5px;
}

#discord:hover .dropdowntext {
    opacity: 1;
}

.dropdowntext:hover {
    opacity: 1;
}

