body {
    background-color:rgba(1, 48, 70, 0.726);
}


.row {
    display: flex;
    width: 95%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    color: black;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    border-radius: 20px;
}

.column {
    flex: 33.33%;
    padding: 10px;
}
